<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myweixin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.test.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.keep.glide.test.GlideActivity"></activity>
        <activity android:name="com.keep.glide.test.OkHttpActivity"></activity>
        <activity android:name="com.example.test.BinderActivity"></activity>
        <activity android:name="com.example.test.CustomeActivity"></activity>
        <activity android:name="com.example.test.AnimationActivity"></activity>
        <activity android:name="com.example.test.WebViewActivity"></activity>
        
        <activity android:name="com.example.test.ActivityTransfer"></activity>
        <activity android:name="com.keep.handler.test.HanlderActivity"></activity>
        <activity android:name="com.example.test.SwipFreshActivity"/>
        
        
        <service android:name="com.keep.binder.server.RemoteBInderService"
            android:enabled="true"  
            android:exported="true"  
            android:process=":remote">
            <intent-filter>  
                <action android:name="com.keep.binder.server.RemoteBInderService" />  
                <category android:name="android.intent.category.DEFAULT" />  
            </intent-filter>  
        </service>
        
        <service android:name="com.keep.binder.service.aidl.LocalService"/>
        <service android:name="com.keep.user.intentservice.UserIntentService">
            <intent-filter >
                <action android:name="com.keep.user.intent" />  
            </intent-filter>
        </service>
        
        <service android:name="com.keep.binder.service.aidl.RemoteService"
            android:enabled="true"  
            android:exported="true"  
            android:process=":remote">
            <intent-filter>  
                <action android:name="com.keep.binder.service.RemoteService" />  
                <category android:name="android.intent.category.DEFAULT" />  
            </intent-filter>  
        </service>
        
        <provider
            android:name="com.keep.ui.provider.SportTypeSelectProvider"
            android:authorities="com.keep.tws.sport.typeselect"
            android:exported="true"
            android:readPermission="com.keep.tws.sport.typeselect.READ" />
        
    </application>

</manifest>
